<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.dao.college.CollegeClassmatesDAO">
    <resultMap id="ResultMap" type="com.art.beans.college.CollegeClassmates" >
        <id column="CLASSMATE_ID" property="classmateId" /><!--同学ID-->
        <result column="NICK_NAME"  property="nickName"/><!--昵称-->
        <result column="SEX"  property="sex"/><!--性别-->
        <result column="PHONE_NUMBER"  property="phoneNumber"/><!--电话-->
        <result column="MAIL_BOX"  property="mailBox"/><!--邮箱-->
        <result column="ADDRESS"  property="address"/><!--地址-->
    </resultMap>
    <!--1.主键查询 -->
    <select id="getSchoolmateById" resultMap="ResultMap" parameterType="java.util.Map" >
        SELECT
        CLASSMATE_ID,
        NICK_NAME,
        SEX,
        PHONE_NUMBER,
        MAIL_BOX,
        ADDRESS
        FROM college_classmates
        <where>
            <if test="classmateId !=null and classmateId!=''">
                CLASSMATE_ID = #{classmateId}
            </if>
        </where>
    </select>

    <!--2.条件查询 -->
    <select id="getSchoolmateInfos" resultMap="ResultMap" parameterType="java.util.Map" >
        SELECT
        CLASSMATE_ID,
        NICK_NAME,
        SEX,
        PHONE_NUMBER,
        MAIL_BOX,
        ADDRESS
        FROM college_classmates
        <where>
            <if test="nickName !=null and nickName!=''">
                AND NICK_NAME = #{nickName}
            </if>
            <if test="sex !=null and sex!=''">
                AND SEX = #{sex}
            </if>
            <if test="phoneNumber !=null and phoneNumber!=''">
                AND PHONE_NUMBER = #{phoneNumber}
            </if>
            <if test="mailBox !=null and mailBox!=''">
                AND MAIL_BOX = #{mailBox}
            </if>
            <if test="address !=null and address!=''">
                AND ADDRESS = #{address}
            </if>
        </where>
    </select>

    <!--3.新增-->
    <insert id="addClassmates" parameterType="java.util.Map">
      INSERT INTO college_classmates
      <trim prefix="(" suffix=")" prefixOverrides=",">
          <if test="classmateId !=null and classmateId!=''">
            CLASSMATE_ID,
          </if>
          <if test="nickName !=null and nickName!=''">
              NICK_NAME,
          </if>
          <if test="sex !=null and sex!=''">
              SEX,
          </if>
          <if test="phoneNumber !=null and phoneNumber!=''">
              PHONE_NUMBER,
          </if>
          <if test="mailBox !=null and mailBox!=''">
              MAIL_BOX,
          </if>
          <if test="address !=null and address!=''">
              ADDRESS
          </if>
      </trim>
      <trim prefix="values (" suffix=")" prefixOverrides=",">
          <if test="classmateId !=null and classmateId!=''">
              #{classmateId,jdbcType=BIGINT},
          </if>
          <if test="nickName !=null and nickName!=''">
              #{nickName,jdbcType=VARCHAR},
          </if>
          <if test="sex !=null and sex!=''">
              #{sex,jdbcType=VARCHAR},
          </if>
          <if test="phoneNumber !=null and phoneNumber!=''">
              #{phoneNumber,jdbcType=VARCHAR},
          </if>
          <if test="mailBox !=null and mailBox!=''">
              #{mailBox,jdbcType=VARCHAR},
          </if>
          <if test="address !=null and address!=''">
              #{address,jdbcType=VARCHAR}
          </if>
      </trim>
    </insert>
    <!--4.删除-->
    <delete id="deleteByClassmatsId" parameterType="java.util.Map">
        DELETE FROM college_classmates
        <where>
            <if test="classmateIds !=null and classmateIds.size()>0">
                CLASSMATE_ID IN
                <foreach item="classmateId" collection="classmateIds" open="(" close=")" separator=",">
                    #{classmateId}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>