<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.dao.famous.FamousPortraitDAO">
    <resultMap id="portrait" type="com.art.beans.famous.FamousPortrait">
        <id column="PORTRAIT_ID" property="portraitId"/><!--肖像ID-->
        <result column="PORTRAIT_NAME" property="portraitName"/><!--肖像名称-->
        <result column="RELATIVE_LOCATION" property="relativeLocation"/><!--相对位置-->
        <result column="FAMOUS_ID" property="famousId"/><!--名人ID-->
        <result column="CHINESE_NAME"  property="chineseName"/><!--中文名-->
        <result column="ENGLISH_NAME"  property="englishName"/><!--英文名-->
        <result column="SEX"  property="sex"/><!--性别-->
        <result column="CAREER"  property="career"/><!--职业-->
        <result column="ACHIEVEMENT"  property="achievement"/><!--主要成就-->
        <result column="HONOR"  property="honor"/><!--获得奖项-->
        <result column="COUNTRY"  property="country"/><!--国籍-->
        <result column="BIRTH_YEAR"  property="birthYear"/><!--出生年月-->

    </resultMap>

    <!--名人肖像基本查询sql-->
    <sql id="portraitBaseSql">
    SELECT
        a.PORTRAIT_ID,
        a.PORTRAIT_NAME,
        a.RELATIVE_LOCATION,
        b.FAMOUS_ID,
        b.CHINESE_NAME,
        b.ENGLISH_NAME,
        b.SEX,
        b.CAREER,
        b.ACHIEVEMENT,
        b.HONOR,
        b.COUNTRY,
        b.BIRTH_YEAR
    FROM famous_portrait a,famous_of_world b
    WHERE a.FAMOUS_ID = b.FAMOUS_ID
    </sql>

    <!--条件查询-->
    <select id="getPortraitInfos" resultMap="portrait">
        <include refid="portraitBaseSql" />
        <if test="null!=chineseName and chineseName!=''">
            AND b.CHINESE_NAME LIKE concat("%",#{chineseName},"%")
        </if>
    </select>

    <!--主键查询-->
    <select id="getPortraitById" resultMap="portrait" parameterType="java.util.Map">
        <include refid="portraitBaseSql" />
        <if test="null!=famousId and famousId!=''">
            AND FAMOUS_ID=#{famousId}
        </if>
    </select>

    <!--多主键查询-->
    <select id="getfamousListByIds" resultMap="portrait" parameterType="java.util.Map">
        <include refid="portraitBaseSql" />
        <if test="null!=famousList and famousList.size()> 0">
            AND b.FAMOUS_ID IN
            <foreach collection="famousList" item="famousId" index="index" open="(" separator="," close=")">
                #{famousId}
            </foreach>
        </if>
    </select>








</mapper>