

.auto_hidden {
    width:204px;border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    position:absolute;
    display:none;
}

.auto_show {
    width:204px;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    position:absolute;
    z-index:9999; /* 设置对象的层叠顺序 */
    display:block;
}

.auto_onmouseover{
    color:red;
    background-color:antiquewhite;
    width:100%;
    cursor:pointer;
}

.auto_onmouseout{
    color:#000000;
    width:100%;
    background-color:#ffffff;
}