*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
    font-size:14px;
    color: #666;
}
/*标题样式*/
.title{
    width: 980px;
    margin: 55px auto;
    font-family: 'Microsoft YaHei';
    font-size: 25px;
    text-align: center;
    color:#666666;
}

/*图片圆角设置*/
img{
    border-radius:50%;
    width:55px;
    height:55px;
}

/*表格div宽度*/
.content{
    width: 980px;
    margin: 20px auto;
}

/*使表格支持合并单元格*/
table{
    border-collapse: collapse;
}

/*字段样式设置*/
table td{
    width: 185px;
    padding: 3px;/*内容距离边框的距离*/
    text-align: center;
    border: 1px solid #666;
}

#update:hover{
    background:black;
    cursor:pointer;
}
#delete:hover{
    background:black;
    cursor:pointer;
}

#create:hover{
    background:black;
    cursor:pointer;
}

/*分页插件样式*/
*{ margin:0; padding:0; list-style:none;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: center;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: black;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid black;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: black;	border: 1px solid black;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}










button[type=button]{
    color: #fff;
    padding: 6px 12px;
    background: #666666;
    border: 1px solid #ddd;
    border-radius: 4px;
}
/*button[name=change]{*/
    /*background: #eb9316;*/
/*}*/
/*button[name=check]{*/
    /*background:#2aabd2;*/
/*}*/
/*button[name=del]{*/
    /*background:mediumvioletred;*/
/*}*/
/*button[name=add]{*/
    /*background:palevioletred;*/
/*}*/
/*modal-样式 begin*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    z-index: 1024;
    background: rgba(0,0,0,0.55);
    display: none;
}
.modal-dialog{
    width:600px;
    margin: 60px auto;
    position: relative;
}
.modal-content{
    position: relative;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.22);
    border-radius: 6px;
    outline:none;
}
.modal-header{
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.modal-body{
    padding: 15px;
    position: relative;
}
.modal-footer{
    padding: 15px;
    text-align: right;
    border:1px solid #e5e5e5;
}
button[name=ok]{
    background:#2d6ca2;
}
button[name=no]{
    background: #d90000;
}
button[name=add-ok]{
    background:#2d6ca2;
}
.modal-body div{
    margin-bottom: 15px;
}
.modal-body h4{
    display: inline-block;
    margin-right: 15px;
}
.modal-body input{
    width: 80%;
    padding: 6px 12px;
    outline: none;
    border-radius: 4px;
    border:1px solid #ccc;
    box-shadow: 2px 2px 4px #ddd;
}
/*modal-样式 end*/
