*{
    margin: 0;
    padding: 0;
}
a{
   text-decoration: none;
    color: #666666;
}
a:hover{
    color:orangered;
}
/*body{*/
    /*font-family: "微软雅黑";*/
    /*font-size:14px;*/
    /*color: #666;*/
/*}*/
.portraits{
    width: 900px;
    margin: 20px auto;
}
.portrait{
    width: 150px;
    height: 150px;
    margin: 20px auto;
}

